######################
# Custom go snippets #
######################
extends go

#############
# Functions #
#############

############
# Snippets #
############
# println
snippet prl
fmt.Println("${1:print}")
endsnippet
